/* 
Name: screen.css
Description: CSS file for screen media types only e.g desktop, tablets and smartphones
Author: Bilal Saeed
License: MIT
Version: 1.0.0
*/



/* IMPORTS  */
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Roboto:100,400');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');





/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}











/* TEXT */

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #fff url(../assets/images/body_bg.jpg) repeat 0 0;
    color: #fff;

}


h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.3em;
    margin: 0 0 1.2em 0;
    text-align: center;
}

h2 {
    font-size: 0.8em;
    margin: 0 0 0.8em 0;
}

h4 {
    font-size: 0.6em;
    margin: 0 0 0.4em 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}









/* GLOBAL STYLES */

.icon {
    font-size: 0.8em;
}

.icon.whatsapp {
    color: #14BB5E;
}

.icon.email {
    color: #3aa5d2;
}

.icon.linkedin {
    color: #026096;
}

.icon.call {
    color: #555;
}


.container {
    width: 90%;
    max-width: 520px;
    background: #324d5c url(../assets/images/pattern.png);
    margin: 90px auto 35px;
    border-radius: 5px;
    position: relative;
}

section {
    background-image: inherit;
}



main::after,
section::after {
    position: relative;
    bottom: -3px;
    content: '';
    display: block;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.2);
}


.content {
    padding: 20px 20px 30px;
}

.meter {
    height: 10px;
    background-color: #c46d3c;
    border-radius: 5px;
    position: relative;
}

.meter::before {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 70%;
    height: inherit;
    border-radius: inherit;
    background-color: #99532b;
    transition: width 0.5s linear;

}









/* HEADER */
header {
    position: absolute;
    right: 0;
    top: -80px;
    width: 100%;
    ;
}

header .contact-list {
    float: right;
}

header .contact-list li {
    display: inline-block;
    margin: 0 0 0 0.3em;
}


header .icon.call {
    /* position: absolute;
    left: 0;
    top: 2px; */
    display: inline-block;
    font-size: 0.7em;
    transform: rotate(90deg);
}





/* INTRO SECTION */

.intro .profile-photo {
    height: 130px;
    ;
}

.intro .profile-photo a {
    display: block;
    margin: -75px auto 36px;
    background: url(../assets/images/bilal_small2.jpg);
    background-size: contain;
    width: 112px;
    height: 103px;
    border: 3px solid white;
    border-radius: 50%;
}


.intro .content h1 {
    margin-bottom: 0.3em;
}

.intro .content .tagline {
    font-size: 0.8em;
    font-weight: 100;
    text-align: center;
    margin-top: 0;
}

.intro .web-developer,
.intro .web-designer {
    position: absolute;
    top: 20px;
    width: 22%;
    /* font-weight: 100; */
    text-align: center;
}


.intro .web-developer {
    left: 18px;
}

.intro .web-designer {
    right: 18px;
}











/* SKILL SECTION */
section.skill {
    background-color: #e37b40;
    /* background-image: inherit; */
}

.skill .services h2,
.skill .technologies h2 {
    margin-left: 24px;
}


.skill .services-list li,
.skill .technologies-list li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 1em;
}

.skill .services-list .title,
.skill .technologies-list .title {
    font-size: 0.65em;
}

.skill .services-list {
    margin-bottom: 2em;
}

.skill .icon {
    position: absolute;
    left: 0px;
    top: 30%;
}













/* EXPERIENCE SECTION */
section.experience {
    background-color: #de5b49;
}

.experience::after {
    content: '';
    clear: both;
}

.timeline {
    margin-bottom: 30px;
}

.timeline>div {
    clear: both;
}


.timeline h4 {
    width: 70%;
    font-size: 0.65em;
}

.timeline h4::after {
    content: '........................................';
    display: block;
    height: 5px;
    width: 100%;
    color: #fff;
}

.timeline>div:last-child h4::after {
    content: '............................................................................';
}

.year,
.bullets,
.timeline h4 {
    float: left;
}

.timeline .year {
    font-size: 0.65em;
    width: 6%;
    margin-right: 20px;
}

.timeline .bullets {
    width: 10%;
    margin-bottom: 10px;
}

.timeline .bullet {
    color: #99532b;
    margin-bottom: -7px;
}

.timeline .deg {
    margin-bottom: -10px;
}

.timeline>div:last-child .deg {
    color: yellow;
}











/* EDUCATION SECTION */
section.education {
    background-color: #46b29d;
}

.education::after {
    content: '';
    clear: both;
}

/*  */
.education .timeline .bullet {
    color: #328070;
}











/* HOBBY SECTION */
section.hobby {
    background-color: #f0ca4d;
}

.hobby .hobbies-list {
    text-align: center;
}

.hobby .hobbies-list img {
    width: 100%;

}


.hobby .hobbies-list h4 {
    text-transform: uppercase;
    color: #998237;
    font-weight: bold;
}













/* CONTACT SECTION */
section.contact {
    background-color: #846add;
}

.contact-form {
    width: 70%;
    margin: 0 auto;
}

.form-field {
    margin-bottom: 10px;

}

.form-field label {
    font-size: 0.65em;
    font-weight: 100;
    display: inline-block;
}

.form-field input,
.form-field textarea {
    outline: none;
    color: #eee;
    width: 70%;
    float: right;
    margin-left: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #7c64d0;
    -webkit-box-shadow: inset 1px 2px 2px rgba(102, 64, 235, .17);
    -moz-box-shadow: inset 1px 2px 2px rgba(102, 64, 235, .17);
    box-shadow: inset 1px 2px 2px rgba(102, 64, 235, .17);
    border: 0;
}

.form-field input {
    height: 0.9em;
}

.form-field textarea {
    /* width: 69%; */
    /* padding: 1px; */
    resize: none;
}


.form-field span {
    vertical-align: top
}

.contact-form button[type=submit] {
    border: none;
    font-size: 0.65em;
    font-weight: 100;
    padding: 3px 8px;
    border-radius: 2px;
    background-color: #324d5c;
    color: #fff;
    float: right;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.contact-form button[type=submit]:hover {
    background-color: rgba(102, 64, 235, .5)
}






footer {
    text-align: center;
    font-size: 0.5em;
    font-weight: 100;
    padding: 5px;
}








/****************************************************************************************/
/* RESPONSIVE TABLET */