/* 
Name: screen.css
Description: CSS file for screen media types only e.g desktop, tablets and smartphones
Author: Bilal Saeed
License: MIT
Version: 1.0.0
*/



/* IMPORTS  */
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Roboto:100,400');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');





/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}











/* TEXT */

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #fff url(../assets/images/body_bg.jpg) repeat 0 0;
    color: #fff;

}


h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 0.9em;
    margin: 0 0 1.8em 0;
    text-align: center;
}

h2 {
    font-size: 0.7em;
    margin: 0 0 0.8em 0;
}

h4 {
    font-size: 0.6em;
    margin: 0 0 0.6em 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}









/* GLOBAL STYLES */

.icon {
    font-size: 0.8em;
}

.icon.whatsapp {
    color: #14BB5E;
}

.icon.email {
    color: #3aa5d2;
}

.icon.linkedin {
    color: #026096;
}


.container {
    width: 300px;
    background: #324d5c url(../assets/images/pattern.png);
    margin: 90px auto 35px;
    border-radius: 5px;
    position: relative;
}

section {
    background-image: inherit;
}


.content {
    padding: 20px 20px 30px;
}











/* HEADER */
header {
    position: absolute;
    right: 0;
    top: -80px;
}

header .contact-list li {
    display: inline-block;
    margin: 0 0 0 0.3em;
}






/* INTRO SECTION */

.intro .profile-photo a {
    display: block;
    margin: -75px auto 36px;
    background: url(../assets/images/bilal_small.jpg);
    background-size: cover;
    width: 103px;
    height: 97px;
    border: 3px solid white;
    border-radius: 50%;
}


.intro .content h1 {
    margin-bottom: 0.6em;
}

.intro .content .tagline {
    font-size: 0.65em;
    font-weight: 100;
    text-align: center;
    margin-top: 0;
}

.intro .web-developer,
.intro .web-designer {
    position: absolute;
    top: 20px;
    width: 22%;
    text-align: center;
}


.intro .web-developer {
    left: 10px;
}

.intro .web-designer {
    right: 10px;
}











/* SKILL SECTION */
section.skill {
    background-color: #e37b40;
    /* background-image: inherit; */
}













/* EXPERIENCE SECTION */
section.experience {
    background-color: #de5b49;
}












/* EDUCATION SECTION */
section.education {
    background-color: #46b29d;
}












/* HOBBY SECTION */
section.hobby {
    background-color: #f0ca4d;
}













/* CONTACT SECTION */
section.contact {
    background-color: #846add;
}